In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/Ridership.csv')
df.head()

,Year,Month,Day,Week Number,Corridor,Workday,Station,Period,Ridership,N_trains,Covid19
0,2019,January,1,1,Corridor_1,n,Station_1,Weekend/Holiday,174,3,0
1,2019,January,1,1,Corridor_1,n,Station_2,Weekend/Holiday,378,10,0
2,2019,January,1,1,Corridor_1,n,Station_3,Weekend/Holiday,599,12,0
3,2019,January,1,1,Corridor_2,n,Station_4,Weekend/Holiday,2759,35,0
4,2019,January,1,1,Corridor_2,n,Station_5,Weekend/Holiday,2629,36,0

In [3]:
month_mapping = {'January': 1, 'February': 2, 'March': 3, 'April': 4,
                 'May': 5, 'June': 6, 'July': 7, 'August': 8,
                 'September': 9, 'October': 10, 'November': 11, 'December': 12}

df['month'] = df['Month'].map(month_mapping)
df['Date'] = pd.to_datetime(df[['Year', 'month', 'Day']])
df.drop(columns=['month'], inplace=True)
df.sample(10)

,Year,Month,Day,Week Number,Corridor,Workday,Station,Period,Ridership,N_trains,Covid19,Date
36801,2021,April,19,16,Corridor_4,y,Station_11,Evening,17,1,1,2021-04-19
47368,2021,December,14,50,Corridor_3,y,Station_13,Evening,100,3,1,2021-12-14
9034,2019,July,4,27,Corridor_3,y,Station_4,AM Peak,3332,4,0,2019-07-04
47104,2021,December,9,49,Corridor_4,y,Station_9,AM Peak,751,4,1,2021-12-09
18670,2020,January,15,3,Corridor_2,y,Station_5,PM Peak,784,12,0,2020-01-15
51768,2022,March,25,12,Corridor_4,y,Station_8,AM Peak,121,1,0,2022-03-25
26462,2020,July,23,30,Corridor_2,y,Station_3,Evening,380,9,1,2020-07-23
10096,2019,July,26,30,Corridor_4,y,Station_9,Midday,506,1,0,2019-07-26
26514,2020,July,24,30,Corridor_3,y,Station_17,AM Peak,230,2,1,2020-07-24
15447,2019,November,12,46,Corridor_3,y,Station_4,Evening,2415,14,0,2019-11-12

In [ ]:
df.to_parquet('Data/parquet_by_day', engine='pyarrow', compression='snappy', partition_cols=['Date'])

In [9]:
from glob import glob

days_to_query = ['2019-01-01', '2019-01-02', '2019-01-03']
files_to_load = []

for day in days_to_query:
    files_to_load.extend(glob(f'Data/parquet_by_day/Date={day}%*/*.parquet'))

df_filtered = pd.concat([pd.read_parquet(file) for file in files_to_load], ignore_index=True)
df_filtered.sample(10)

,Year,Month,Day,Week Number,Corridor,Workday,Station,Period,Ridership,N_trains,Covid19
8,2019,January,1,1,Corridor_3,n,Station_3,Weekend/Holiday,17,1,0
20,2019,January,2,1,Corridor_4,y,Station_8,AM Peak,1702,2,0
111,2019,January,3,1,Corridor_2,y,Station_4,PM Peak,2970,5,0
15,2019,January,2,1,Corridor_1,y,Station_6,Midday,422,2,0
154,2019,January,3,1,Corridor_6,y,Station_3,PM Peak,2397,4,0
139,2019,January,3,1,Corridor_3,y,Station_5,Evening,4300,11,0
67,2019,January,2,1,Corridor_3,y,Station_3,Midday,55,2,0
39,2019,January,2,1,Corridor_2,y,Station_5,AM Peak,7546,11,0
82,2019,January,2,1,Corridor_7,y,Station_3,PM Peak,3487,4,0
59,2019,January,2,1,Corridor_3,y,Station_13,Midday,610,6,0

In [10]:
files_to_load2 = []
files_to_load2.extend(glob(f'Data/parquet_by_day/Date=*/*.parquet'))

df_filtered2 = pd.concat([pd.read_parquet(file) for file in files_to_load2], ignore_index=True)
df_filtered2.sample(10)

,Year,Month,Day,Week Number,Corridor,Workday,Station,Period,Ridership,N_trains,Covid19
1705,2019,January,31,5,Corridor_2,y,Station_3,PM Peak,2717,2,0
33656,2021,January,21,3,Corridor_3,y,Station_3,Midday,253,12,1
49095,2022,January,19,3,Corridor_5,y,Station_3,PM Peak,513,4,1
37921,2021,May,18,20,Corridor_3,y,Station_4,PM Peak,224,6,1
18090,2020,January,3,1,Corridor_3,y,Station_15,Midday,464,1,0
9715,2019,July,18,29,Corridor_3,y,Station_13,Midday,798,6,0
53951,2022,May,17,20,Corridor_7,y,Station_21,Midday,249,1,0
34543,2021,February,16,7,Corridor_4,y,Station_11,Midday,90,5,1
10034,2019,July,25,30,Corridor_4,y,Station_11,Midday,1028,6,0
39040,2021,June,17,24,Corridor_7,y,Station_3,Evening,48,1,1

In [ ]:
from glob import glob

days_to_query = ['2019-01-01', '2019-01-02', '2019-01-03']
files_to_load = []

for day in days_to_query:
    files_to_load.extend(glob(f'Data/parquet_by_day/Date={day}%*/*.parquet'))

df_filtered = pd.concat([pd.read_parquet(file, columns=['Year', 'Month', 'Day', 'Ridership']) for file in files_to_load], ignore_index=True)
df_filtered.sample(10)

     Year    Month  Day  Ridership
47   2019  January    2        274
126  2019  January    3         37
62   2019  January    2       2646
69   2019  January    2       1232
124  2019  January    3        325
104  2019  January    3         65
22   2019  January    2        535
128  2019  January    3       1091
70   2019  January    2       5816
122  2019  January    3         19