In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/Ridership.csv')
df.head()

,Year,Month,Day,Week Number,Corridor,Workday,Station,Period,Ridership,N_trains,Covid19
0,2019,January,1,1,Corridor_1,n,Station_1,Weekend/Holiday,174,3,0
1,2019,January,1,1,Corridor_1,n,Station_2,Weekend/Holiday,378,10,0
2,2019,January,1,1,Corridor_1,n,Station_3,Weekend/Holiday,599,12,0
3,2019,January,1,1,Corridor_2,n,Station_4,Weekend/Holiday,2759,35,0
4,2019,January,1,1,Corridor_2,n,Station_5,Weekend/Holiday,2629,36,0

In [3]:
month_mapping = {'January': 1, 'February': 2, 'March': 3, 'April': 4,
                 'May': 5, 'June': 6, 'July': 7, 'August': 8,
                 'September': 9, 'October': 10, 'November': 11, 'December': 12}

df['month'] = df['Month'].map(month_mapping)
df['Date'] = pd.to_datetime(df[['Year', 'month', 'Day']])
df.drop(columns=['month'], inplace=True)
df.sample(10)

,Year,Month,Day,Week Number,Corridor,Workday,Station,Period,Ridership,N_trains,Covid19,Date
36801,2021,April,19,16,Corridor_4,y,Station_11,Evening,17,1,1,2021-04-19
47368,2021,December,14,50,Corridor_3,y,Station_13,Evening,100,3,1,2021-12-14
9034,2019,July,4,27,Corridor_3,y,Station_4,AM Peak,3332,4,0,2019-07-04
47104,2021,December,9,49,Corridor_4,y,Station_9,AM Peak,751,4,1,2021-12-09
18670,2020,January,15,3,Corridor_2,y,Station_5,PM Peak,784,12,0,2020-01-15
51768,2022,March,25,12,Corridor_4,y,Station_8,AM Peak,121,1,0,2022-03-25
26462,2020,July,23,30,Corridor_2,y,Station_3,Evening,380,9,1,2020-07-23
10096,2019,July,26,30,Corridor_4,y,Station_9,Midday,506,1,0,2019-07-26
26514,2020,July,24,30,Corridor_3,y,Station_17,AM Peak,230,2,1,2020-07-24
15447,2019,November,12,46,Corridor_3,y,Station_4,Evening,2415,14,0,2019-11-12